.content img {
    max-width: 100%;
}
body, h1, h2, h3, p {
  font-family: 'Zilla Slab', serif;
  color: #000000;
}
body{
  font-size: 18px;
}

.navbar{
  border-bottom-color: #000000;
}
.dropdown active  {
  background-color: #000000;
}
.navbar-default .navbar-nav > li.active a {
  background-color: #ffffff;
  color:#000000;
}
.navbar-default{
  background-color:#000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

    background-color: #FFFFFF;
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #ffffff;
}
.sidebar li.active a:hover {
    color: #FFFFFF;

}
.sidebar li.active, .sidebar li.active a{
  background-color:#000;
  color:#fff;
}

.sidebar li a:hover {
    color: #FFFFFF;
    background-color: #000;
}
.sidebar li a, .pagination-section a{
  color:#005e5e;
}
.p2pu-footer {

    background-color: #000000;
    color: #FCFCFC;
    padding: 1.5em 0 2em 0;
    margin-top: 60px;
    line-height: 1.5;
    margin-bottom: 0;

}
body {

    font-size: 20px;
}

blockquote p{

    font-style: normal;
    color: #707782;
    line-height: 1.4;
}

.navbar-nav > li > a {
    line-height: 2;
    padding: 0 1em;
    font-family: 'Zilla Slab', serif;
    text-transform: uppercase;
    transition: all 0.3s linear;
}

blockquote {

    font-size: initial;
    font-style: normal;

}
